<div class="introModule col-sm-8">
    <div class="companyIntro">
        <h1 class="title">Lorem ipsum dolor sit amet</h1>

        <p>Lorem ipsum dolor sit amet, quo id tale exerci, mea putent euismod adipisci eu. Id pro referrentur accommodare, vitae minimum te mea. Quod aeque semper nam in, pro ei singulis repudiandae. Usu mollis meliore facilisi ea, vim sint tantas feugait id. Justo quaestio est eu. No aeterno euismod tractatos per, amet aeque volumus in nam, eripuit accusam elaboraret ut vim.</p>
        <p>Lorem ipsum dolor sit amet, quo id tale exerci, mea putent euismod adipisci eu. Id pro referrentur accommodare, vitae minimum te mea. Quod aeque semper nam in, pro ei singulis repudiandae. Usu mollis meliore facilisi ea, vim sint tantas feugait id. Justo quaestio est eu. No aeterno euismod tractatos per, amet aeque volumus in nam, eripuit accusam elaboraret ut vim.</p>
        <p>Lorem ipsum dolor sit amet, quo id tale exerci, mea putent euismod adipisci eu. Id pro referrentur accommodare, vitae minimum te mea. Quod aeque semper nam in, pro ei singulis repudiandae. Usu mollis meliore facilisi ea, vim sint tantas feugait id. Justo quaestio est eu. No aeterno euismod tractatos per, amet aeque volumus in nam, eripuit accusam elaboraret ut vim.</p>
        <p>Lorem ipsum dolor sit amet, quo id tale exerci, mea putent euismod adipisci eu. Id pro referrentur accommodare, vitae minimum te mea. Quod aeque semper nam in, pro ei singulis repudiandae. Usu mollis meliore facilisi ea, vim sint tantas feugait id. Justo quaestio est eu. No aeterno euismod tractatos per, amet aeque volumus in nam, eripuit accusam elaboraret ut vim.</p>
    </div>
</div>