<div class="col-sm-4 newsModule">
    <div id="newsModule" data-module="newsModuleOnLoad" data-moduleLoadStatus="false">
        <h2 class="news-title">Новости</h2>
        <!-- js -->
    </div>
    <a href="#" class="read__more">Архив новостей</a>
</div>