    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="widget widget__about">
                        <p>
                            © 2017–2017 ЗАО «Компания»
                        </p>
                        <a href="mailto:info@name.ru">info@name.ru</a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="widget widget__navigation">
                        <ul>
                            <li>Главная</li>
                            <li>Каталог</li>
                            <li>Доставка и оплата</li>
                            <li>Прайс-лист</li>
                            <li>Контакты</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget widget__text">
                        Lorem ipsum dolor sit amet.<br />
                        Lorem ipsum dolor sit amet.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="dist/js/slick.min.js"></script>
    <script type="text/javascript" src="dist/js/app.js"></script>

</body>
</html>
