$primary-color: #777777;

html {
  position: relative;
  min-height: 100%;
}

html, body {
  font-family: "Verdana", sans-serif;
  font-size: 12px;
}

body {
  @media screen and (min-width: 768px) {
    margin-bottom: 220px;
  }
}

.slick-slide {
  outline: 0;
}

.news-title {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
  margin: 0 0 25px 0;
}


.site-title {
  margin: 0 0 25px 0;
  font-size: 36px;
  line-height: 1.15;
}

.read__more{
  display: block;
  text-align: right;
  width: 100%;
  color: #fff;
  margin-top: 35px;

  &:hover{
    color: #fff;
  }
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
}