/* Footer */

footer{
  width: 100%;
  background-color: #767676;
  padding: 50px 0;
  color: #fff;

  @media screen and (max-width: 992px) {
    padding: 20px 15px;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    height: 220px;
  }

  p{
    margin: 5px 0;
  }

  a{
    color: #fff;

    &:hover{
      color: #fff;

    }
  }

  ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }


  /*widgets*/


  .widget{
    @media screen and (max-width: 767px) {
      margin: 25px 0;
    }
  }


}