/*fron content*/
main {
  margin-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px){
    padding-bottom: 175px;
  }
}

.newsModule {
  background-color: #767676;
  color: #fff;
  padding: 20px 35px 20px 30px;

  @media screen and (min-width: 768px){
    padding-bottom: 100px;
  }
  @media screen and (max-width: 767px){
    padding: 20px 15px 20px 15px;
  }


  &__item{
    &:not(:last-child){
      margin-bottom: 33px;
    }

    h3{
      margin: 0;
      font-size: 14px;
      a{
        color: #fff;
      }
    }
  }

}

.introModule{
  @media screen and (min-width: 768px){
    padding-left: 60px;
  }

  @media screen and (max-width: 767px){
    padding: 20px 15px 20px 15px;
  }

  h1{
    margin-top: 20px;
    margin-bottom: 36px;
  }
}