/*Header*/

header {
  background-color: #dcdcdc;
  padding: 65px 0;
  @media screen and (max-width: 767px) {
    padding: 20px 15px;
  }
}

.site__logo {
  @media screen and (max-width: 767px) {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
  }
}

.phones__module {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 25px;
  }

  @media screen and (min-width: 768px) {
    text-align: right;
  }

  li {
    padding-bottom: 10px;
    a {
      font-size: 18px;
      line-height: 1;
      @media screen and (min-width: 1200px) {
        font-size: 30px;
        font-weight: 300;
      }
    }
  }
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    line-height: 80px;
  }
  @media screen and (max-width: 992px) {
    padding: 0 15px;
  }
}

.navbar-collapse{
  @media screen and (max-width: 767px) {
    padding: 20px 0;
  }
}

.nav {
  border-radius: 0;
  text-align: center;
  margin: 0;

  & > li {
    @media screen and (min-width: 768px) {
      display: inline-block;
    }

    @media screen and (max-width: 767px) {
      padding: 10px 0;
    }

    & > a {
      font-size: 30px;
      font-family: "PT Sans", sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: center;
      padding: 10px 15px;

      @media screen and (max-width: 1199px) {
        font-size: 16px;
        padding: 10px 15px;
      }
    }

    @media screen and (min-width: 768px) {
      &:not(:first-child) {
        &:before {
          content: "|";
          display: inline-block;
          color: #fff;
          font-size: 30px;
          @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.slider{
  background-color: #f8f8f8;


  @media screen and (max-width: 1149px) {
    display: none;
  }

  &__wrapper{
max-width: 1150px;
    margin: 0 auto;
  }
}