/* JS Modules */

/* data-module="newsModuleOnLoad" */
[data-module="newsModuleOnLoad"] {
  min-height: 350px;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100px;
    background-color: #767676;
    background-repeat: no-repeat;
    background-position: center;
  }

  &[data-moduleLoadStatus="false"] {
    &:after {
      background-image: url(../img/loading.gif);
      background-size: 48px;
    }
  }

  &[data-moduleLoadStatus="true"] {
    &:after {
      display: none;
    }
  }

}


/* data-module="newsModuleShowMore" */
[data-moduleloadstatus="true"] p {
  padding: 0 20px;
  font-weight: bold;
  font-size: 12px;
}